<?xml version="1.0"?>
<!-- 
this is a sample config take the IndexSet node and copy over to your config
-->
<ExamineLuceneIndexSets>
  <IndexSet SetName="MediaIndexSet" IndexPath="~/App_Data/MediaIndexSet">
    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeName" />
      <add Name="updateDate" />
      <add Name="writerName" />
      <add Name="path" />
      <add Name="nodeTypeAlias" />
      <add Name="parentID" />
    </IndexAttributeFields>
    <IncludeNodeTypes>
      <add Name="File" />
      <add Name="YouTube"/>
    </IncludeNodeTypes>
  </IndexSet>
</ExamineLuceneIndexSets>