<?xml version="1.0"?>
<!-- 
this is a sample config take the providers node and copy over to your config
-->
<Examine>
  <ExamineIndexProviders>
    <providers>
      <add name="MediaIndexer"
              type="Cogworks.ExamineFileIndexer.UmbracoMediaFileIndexer, Cogworks.ExamineFileIndexer"
              extensions=".pdf,.docx"
              umbracoFileProperty="umbracoFile"
              youTubeUrlProperty="youTubeUrl"/>

    </providers>
  </ExamineIndexProviders>

  <ExamineSearchProviders defaultProvider="InternalSearcher">
    <providers>
      <!-- This search provider is used to search the MediaIndexSet. -->
      <add name="MediaSearcher"
           type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
          indexSet="MediaIndexSet" analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>
    </providers>
  </ExamineSearchProviders>

</Examine>